# These two directories house the output from gwtc
war/echarts
war/WEB-INF/classes

# Anything in target is ignorable
target/*

# Spring roo log file
log.roo

# Directory created by DevMode
src/main/webapp/echarts

# Ignore .settings
.settings
