/*
 * Copyright 2010 Ian Hilt
 * 
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not
 * use this file except in compliance with the License. You may obtain a copy of
 * the License at
 * 
 * http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 * License for the specific language governing permissions and limitations under
 * the License.
 */
USE [echarts]
GO
/****** Object:  Table [dbo].[ServiceCodes]    Script Date: 05/25/2010 14:13:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ServiceCodes](
	[Service] [varchar](3) NOT NULL,
	[Description] [varchar](50) NULL,
	[TemplateID] [varchar](15) NULL,
 CONSTRAINT [PK_ServiceCodes] PRIMARY KEY CLUSTERED 
(
	[Service] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[ServiceCodes] ([Service], [Description], [TemplateID]) VALUES (N'110', N'Pharmacological Mgt. - Evaluation', N'104')
INSERT [dbo].[ServiceCodes] ([Service], [Description], [TemplateID]) VALUES (N'120', N'Diagnostic Assessment', NULL)
INSERT [dbo].[ServiceCodes] ([Service], [Description], [TemplateID]) VALUES (N'210', N'BH Counseling and Therapy - Individual', N'102')
/****** Object:  Table [dbo].[Role]    Script Date: 05/25/2010 14:13:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Role](
	[role_id] [int] NOT NULL,
	[role_name] [varchar](25) NULL,
	[permission] [varbinary](4) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Role] ([role_id], [role_name], [permission]) VALUES (1, N'Administrator', 0x00000001)
INSERT [dbo].[Role] ([role_id], [role_name], [permission]) VALUES (2, N'Psychiatrist', 0x00000002)
INSERT [dbo].[Role] ([role_id], [role_name], [permission]) VALUES (3, N'Nurse', 0x00000003)
/****** Object:  Table [dbo].[link]    Script Date: 05/25/2010 14:13:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[link](
	[name] [varchar](60) NOT NULL,
	[url] [varchar](75) NOT NULL,
	[header] [varchar](30) NULL,
	[sort_order] [int] NULL,
 CONSTRAINT [PK_Form_list] PRIMARY KEY CLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[link] ([name], [url], [header], [sort_order]) VALUES (N'Community Psychiatric Supportive Treatment Progress Note', N'http://ewsql/echarts-asp/101CPSTEdit.asp', N'Progress Notes', 2)
INSERT [dbo].[link] ([name], [url], [header], [sort_order]) VALUES (N'General Mental Health Services Acknowledgement', N'http://ewsql/echarts-asp/105GMHServiceAck.asp', N'Miscellaneous', 10)
INSERT [dbo].[link] ([name], [url], [header], [sort_order]) VALUES (N'Individual Progress Note', N'http://ewsql/echarts-asp/102IPNEdit.asp', N'Progress Notes', 3)
/****** Object:  Table [form].[ISP_ServiceDescriptions]    Script Date: 05/25/2010 14:13:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [form].[ISP_ServiceDescriptions](
	[ID] [numeric](18, 0) NOT NULL,
	[ServiceDescriptions] [varchar](30) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [form].[ISP_ServiceDescriptions] ([ID], [ServiceDescriptions]) VALUES (CAST(2 AS Numeric(18, 0)), N'MH Assessment')
INSERT [form].[ISP_ServiceDescriptions] ([ID], [ServiceDescriptions]) VALUES (CAST(4 AS Numeric(18, 0)), N'MH Pharm. Mgmt')
INSERT [form].[ISP_ServiceDescriptions] ([ID], [ServiceDescriptions]) VALUES (CAST(5 AS Numeric(18, 0)), N'BH Individ Counseling/Ther')
/****** Object:  Table [dbo].[DiagnosisAxis2]    Script Date: 05/25/2010 14:13:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiagnosisAxis2](
	[ICD9] [nvarchar](8) NULL,
	[Description] [nvarchar](50) NULL,
	[DSMIV] [nvarchar](8) NULL,
	[508k] [bit] NOT NULL,
	[TabDiagnosis] [nvarchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[DiagnosisAxis2] ([ICD9], [Description], [DSMIV], [508k], [TabDiagnosis]) VALUES (N'301.0  ', N' PARANOID PERSONALITY  ', N'301.0  ', 1, N'Personality Disorders')
INSERT [dbo].[DiagnosisAxis2] ([ICD9], [Description], [DSMIV], [508k], [TabDiagnosis]) VALUES (N'301.20 ', N' SCHIZOID PERSONALITY NOS  ', N'301.20 ', 1, N'Personality Disorders')
INSERT [dbo].[DiagnosisAxis2] ([ICD9], [Description], [DSMIV], [508k], [TabDiagnosis]) VALUES (N'301.22 ', N' SCHIZOTYPAL PERSON DIS  ', N'301.22 ', 1, N'Personality Disorders')
/****** Object:  Table [dbo].[DiagnosisAxis1]    Script Date: 05/25/2010 14:13:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiagnosisAxis1](
	[ICD9] [nvarchar](8) NULL,
	[Description] [nvarchar](50) NULL,
	[DSMIV] [nvarchar](8) NULL,
	[508k] [bit] NOT NULL,
	[TabDiagnosis] [nvarchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[DiagnosisAxis1] ([ICD9], [Description], [DSMIV], [508k], [TabDiagnosis]) VALUES (N'290.40 ', N' VASCULAR DEMENTIA,UNCOMP  ', N'290.40 ', 1, NULL)
INSERT [dbo].[DiagnosisAxis1] ([ICD9], [Description], [DSMIV], [508k], [TabDiagnosis]) VALUES (N'290.41 ', N' VASC DEMENTIA W DELIRIUM  ', N'290.41 ', 1, NULL)
INSERT [dbo].[DiagnosisAxis1] ([ICD9], [Description], [DSMIV], [508k], [TabDiagnosis]) VALUES (N'290.42 ', N' VASC DEMENTIA W DELUSION  ', N'290.42 ', 1, NULL)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
/****** Object:  Table [dbo].[Codes]    Script Date: 05/25/2010 14:13:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Codes](
	[code_id] [bigint] IDENTITY(1,1) NOT NULL,
	[column_name] [varchar](20) NULL,
	[value] [varchar](3) NULL,
	[descriptor] [varchar](60) NULL,
 CONSTRAINT [PK_Codes] PRIMARY KEY CLUSTERED 
(
	[code_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Codes] ON
INSERT [dbo].[Codes] ([code_id], [column_name], [value], [descriptor]) VALUES (1, N'CaseStatus', N'A', N'Active')
INSERT [dbo].[Codes] ([code_id], [column_name], [value], [descriptor]) VALUES (2, N'CaseStatus', N'D', N'Terminated')
INSERT [dbo].[Codes] ([code_id], [column_name], [value], [descriptor]) VALUES (3, N'CaseStatus', N'P', N'Pre-Admit')
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[Codes] OFF
