<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright 2010 Ian Hilt                                                -->
<!-- Licensed under the Apache License, Version 2.0 (the "License"); you    -->
<!-- may not use this file except in compliance with the License. You may   -->
<!-- may obtain a copy of the License at                                    -->
<!--                                                                        -->
<!-- http://www.apache.org/licenses/LICENSE-2.0                             -->
<!--                                                                        -->
<!-- Unless required by applicable law or agreed to in writing, software    -->
<!-- distributed under the License is distributed on an "AS IS" BASIS,      -->
<!-- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or        -->
<!-- implied. License for the specific language governing permissions and   -->
<!-- limitations under the License.                                         -->

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath*:META-INF/spring/applicationContext*.xml</param-value>
    </context-param>
    <filter>
		<filter-name>guiceFilter</filter-name>
		<filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>guiceFilter</filter-name>
		<url-pattern>/echarts/dispatch</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>org.eastway.echarts.server.EchartsServerConfig</listener-class>
	</listener>
	<!-- Servlets -->
	<servlet>
		<servlet-name>rpcServicesImpl</servlet-name>
		<servlet-class>org.eastway.echarts.server.RpcServicesImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ehrServicesImpl</servlet-name>
		<servlet-class>org.eastway.echarts.server.EHRServicesImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>patientServicesImpl</servlet-name>
		<servlet-class>org.eastway.echarts.server.PatientServicesImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>demographicsServicesImpl</servlet-name>
		<servlet-class>org.eastway.echarts.server.DemographicsServicesImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>referralServicesImpl</servlet-name>
		<servlet-class>org.eastway.echarts.server.ReferralServicesImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>addressServicesImpl</servlet-name>
		<servlet-class>org.eastway.echarts.server.AddressServicesImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>rpcServicesImpl</servlet-name>
		<url-pattern>/echarts/rpcServices</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ehrServicesImpl</servlet-name>
		<url-pattern>/echarts/ehrServices</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>patientServicesImpl</servlet-name>
		<url-pattern>/echarts/patientServices</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>demographicsServicesImpl</servlet-name>
		<url-pattern>/echarts/demographicsServices</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>referralServicesImpl</servlet-name>
		<url-pattern>/echarts/referralServices</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>addressServicesImpl</servlet-name>
		<url-pattern>/echarts/addressServices</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>echarts.html</welcome-file>
	</welcome-file-list>
</web-app>
